<div class="scene">
  <div class="book on-cover">
    <div class="drag-notice shown">Drag to<br />open it</div>
    <ul class="spreads">
      <li class="cover spread">
        <div class="page-right page"></div>
      </li>
      <li class="intro spread">
        <div class="page-left page">
          <div class="hotspot">
            <div class="indicator" data-offsetX="50" data-offsetY="50"></div>
            <p>
              Some here,<br />
              OK?<br />
            </p>
          </div>
          <div class="cake-left popup" data-depth="200"></div>
          <div class="cake-left popup" data-depth="300"></div>
        </div>
        <div class="page-right page">
          <div class="cake-right popup" data-depth="200"></div>
          <div class="cake-right popup" data-depth="300"></div>
        </div>
      </li>
      <li class="back spread">
        <div class="page-left page"></div>
      </li>
    </ul>
  </div>
</div>
